.yomiyasuin {
  overflow: auto;
}

.yomiyasuin-content {
  padding: 4px;
}

.yomiyasuin-line {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  border-radius: 2px;
  padding: 0;
  margin-bottom: 8px !important;
}
.yomiyasuin-name {
  grid-column: 1/2;
  grid-row: 2/3;
  box-sizing: border-box;
  margin-top: 4px;
  color: #3c3c3c;
  line-height: 1;
  font-size: 10px;
  text-align: center;
}
.yomiyasuin-icon {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 40px;
  height: auto;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.yomiyasuin-selif {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
  box-sizing: border-box;
  padding: 4px 8px;
  background-color: #fff;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-left: 12px;
  border-radius: 4px;
  justify-self: left;
  align-self: start;
  line-height: 1.75;
  white-space: pre-wrap;
  word-break: break-word;
}
.yomiyasuin-selif:before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: 100%;
  border: 8px solid transparent;
  border-right-color: #fff;
}
.yomiyasuin-html {
  color: #333;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
}
.yomiyasuin-html h1,
.yomiyasuin-html h2,
.yomiyasuin-html h3,
.yomiyasuin-html h4,
.yomiyasuin-html h5,
.yomiyasuin-html h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
  color: #1e4694;
}
.yomiyasuin-html > *:first-child {
  margin-top: 0;
}

.yomiyasuin-html h1 {
  font-size: 1.6em;
}
.yomiyasuin-html h2 {
  font-size: 1.5em;
  padding-left: 5px;
  border-left: 8px solid;
}

.yomiyasuin-html h3 {
  font-size: 1.3em;
  border-bottom: 1px solid currentColor;
}
.yomiyasuin-html h4 {
  font-size: 1.1em;
  padding-left: 5px;
  border-left: 4px solid;
  border-bottom: 1px dotted;
}
.yomiyasuin-html h5 {
  font-size: 1em;
  border-bottom: 1px dotted;
}
.yomiyasuin-html h6 {
  font-size: 0.9em;
  padding-left: 5px;
  border-left: 4px solid;
}
.yomiyasuin-html ul {
  padding: 0;
  margin: 0;
  padding-left: 2em;
  list-style-type: disc;
  margin-bottom: 16px;
}

.yomiyasuin-html ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.yomiyasuin-html ul p {
  margin: 0;
}
